---
import Navigation from '../components/Navigation.astro'
import '../styles/global.css';

---
<html lang="en">
  <head></head>
  <body>
<Navigation />
<h1>This is the about page</h1>
  <ul>
  </ul>
  </body>
</html>

